POSTGRES_USER=chefia
POSTGRES_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME_KEYCLOAK_PASSWORD
KEYCLOAK_DB_PASSWORD=CHANGE_ME_KEYCLOAK_DB_PASSWORD
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5:1.5b
GATEWAY_PORT=8080
KEYCLOAK_PORT=8180
RECOMENDACIONES_DB_PORT=5435
USUARIOS_DB_PORT=5436
RECETAS_DB_PORT=5437
FAVORITOS_DB_PORT=5438
KEYCLOAK_DB_PORT=5439
